certifi==2024.8.30
charset-normalizer==3.3.2
contourpy==1.3.1
cycler==0.12.1
et_xmlfile==2.0.0
flake8==6.0.0
flake8-isort==6.0.0
fonttools==4.55.2
idna==3.8
isort==5.13.2
kiwisolver==1.4.7
matplotlib==3.9.3
mccabe==0.7.0
numpy==2.1.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
tzdata==2024.2
urllib3==2.2.2
XlsxWriter==3.2.0
